
h1{
	text-align: center
}

h2{
	text-align: center
}

body { 
	padding-top: 70px; 
	background-color: white;
}

.centered{
    text-align: center
}

div.chart{
	border: 3px solid gray;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 15px 0px;
}

div#outInfo{
  padding: 25px;
}

div.infoDiv {
    border: 2px solid black;
    border-radius: 3px;
}

rect.swatch{
    stroke: black;
    stroke-width: 0.5;
}

text.chartTitle{
	font-size: 18px;
	font-weight: bold;
}

path.region{
	opacity: 0.4;
	stroke: lightgray;
}

path.state{
    fill: white;
    opacity: 0.3;
    stroke: black;
}

circle.circle{
	opacity: 0.8;
    stroke: black;
}
